/*le style des titres et du texte sont appliqués depuis le fichier CSS root. Ne coder ici que les spécifités de la section Tarifs et formules*/
#prices-and-formula {
  padding-left: 15px;
  padding-right: 15px;

}

/*Style section div carte */
#prices-meeting-room,
#prices-cosy-room,
#prices-personal-desk {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 8%;
  max-width: 360px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 20px;
  padding-bottom: 20px;
  height: 99%;
}

/*Style div image */
#prices-meeting-room-picture,
#prices-cosy-room-picture,
#prices-personal-desk-picture {
  display: flex;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  align-self: center;
}

/* Style texte et bouton */
#prices-meeting-room-text-and-button,
#prices-cosy-room-text-and-button,
#prices-personal-desk-text-and-button {
  display: flex;
  flex-direction: column;
  padding: 0 5% 0 15%;
  align-self: center;
  text-align: center;
  gap: 8px;
  width: 60%;
  padding: 20px 0 10px 0;
}

/*Style & animation CSS du bouton*/
button {
  border: none;
  padding: 12px 15px;
  border-radius: 24px;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  margin-top: 7px;
  cursor: pointer;
  transition: transform 0.5s;
  background-color: var(--primary-bg-color);
  color: var(--button-text-color);
}

button:hover {
  transform: scale(1.06);
}

/*Media query pour le changement de disposition mobile vers desktop*/

@media screen and (min-width: 768px) {
  #prices-and-formula {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  #prices-meeting-room,
  #prices-cosy-room,
  #prices-personal-desk {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 20px;
  }

  #prices-meeting-room-text-and-button,
  #prices-cosy-room-text-and-button,
  #prices-personal-desk-text-and-button {
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 0;
  }

  button {
    margin-top: 20px;
  }

  img {
    box-shadow: none;
  }
}