* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-name {
    margin-left: 10px;
    margin-bottom: 10px;
}

.form {
    background-image: url("./form.jpg");
    width: 365px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.background-grey {
    background: rgba(198, 199, 205, 0.674);
    padding: 40px;
    border-radius: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}