.form-name {
    margin-left: 10px;
    margin-bottom: 10px;
}

.contact-form {
    background-image: url("../assets/form.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px;
}

.contact-form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background: rgba(198, 199, 205, 0.674);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.contact-form-fields input,
.contact-form-fields textarea {
    padding: 10px 10px;
    border-radius: 5px;
    border: 0;
    margin: 5px 0;
}

.contact-form-fields textarea {
    height: 85px;
}

.contact-form-fields button {
    background-color: var(--primary-bg-color);
    color: var(--button-text-color);
    width: 120px;
    border: 0;
    margin: 25px auto 0;
}

#overlay {
    position: absolute;
    margin-top: -490px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    display: none;
}

.popup {
    left: 50%;
    width: 60%;
    background: #edeff4;
    border-radius: 6px;
    position: absolute;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.open-popup .popup {
    margin-top: -260px;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
.open-popup #overlay {
    display: block;
}

@media screen and (min-width: 400px) {
    .contact-form-fields {
        width: 600px;
    }

    .contact-form-fields {
        padding: 60px;
    }
}

@media screen and (max-width: 400px) {
    #overlay {
        position: absolute;
        margin-top: -410px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        display: none;
    }
}
