#blocs-footer {
    margin-top: 20px;
    background-color: rgb(240, 230, 220);
}

#rs-container {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 10px;
    padding: 10px 15px 10px 0;
}

#rs-container a:hover {
    opacity: 0.5;
}

.footer-contact ul, .footer-adress ul {
    list-style-type: none;
    margin: 0;
}

#footer-info {
    display: flex;
    justify-content: space-around;
    line-height: 1.5;
    font-size: 12px;

}

#footer-info h3 {
    font-size: 16px;
    padding-bottom: 5px;
}