.map-section {
    margin: 5px auto auto 10px;

}

.map-container {
    display: flex;
    max-width: 100%;
    margin-bottom: 10px;
}

.map-info {
    line-height: 2;
    max-width: 80%;
    margin: 10px auto;
    border-radius: 10%;
}

ul {
    margin-left: 15px;
}

@media screen and (min-width: 900px) {
    .map-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto auto;

    }
}